<template>
  <q-page class="flex flex-center column">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>Continous Feedback </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-card class="container" v-if="!isRegister">
      <q-card-section class="row items-center">
        <div class="text-h6">Professor Auth</div>
      </q-card-section>
      <div class="q-pa-md">
        <q-card-section class="q-gutter-md">
          <q-input filled v-model="login.email" label="Email" />

          <q-input
            filled
            type="password"
            v-model="login.password"
            label="Password"
          />
        </q-card-section>
      </div>
      <q-card-actions class="bg-white text-teal flex flex-center">
        <q-btn color="primary" label="LOGIN" @click="onLogin" />
        <q-btn label="REGISTER" @click="isRegister = true" />
      </q-card-actions>
    </q-card>
    <q-card class="container" v-else>
      <q-card-section class="row items-center">
        <div class="text-h6">Register</div>
        <q-space />
        <q-btn icon="close" flat round dense v-close-popup />
      </q-card-section>
      <div class="q-pa-md">
        <q-card-section class="q-gutter-md">
          <q-input filled v-model="register.firstName" label="First Name" />
          <q-input filled v-model="register.lastName" label="Last Name" />
          <q-input filled v-model="register.email" label="Email" />

          <q-input
            filled
            type="password"
            v-model="register.password"
            label="Password"
          />
        </q-card-section>
      </div>
      <q-card-actions class="bg-white text-teal flex flex-center">
        <q-btn color="primary" label="REGISTER" @click="onRegister" />
        <q-btn label="BACK" @click="isRegister = false" />
      </q-card-actions>
    </q-card>
    <div class="container">
      <q-input v-model="accessCode" label="Access code">
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-input>
      <q-input v-model="firstName" label="First name">
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-input>

      <q-input v-model="lastName" label="Last name">
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-input>

      <q-input v-model="email" label="Email">
        <template v-slot:prepend>
          <q-icon name="event" />
        </template>
      </q-input>
      <q-btn
        class="enter"
        push
        color="primary"
        label="GET ACCESS"
        @click="onEnter"
      />
    </div>
  </q-page>
</template>

<style>
.container {
  width: 80%;
}
.enter.q-btn {
  width: 100%;
  margin-top: 20px;
}

.q-input {
  width: 100%;
}
</style>

<script>
export default {
  name: "MainPage",
  data() {
    return {
      firstName: "",
      lastName: "",
      accessCode: "",
      email: "",

      login: {
        email: "",
        password: ""
      },
      register: {
        firstName: "",
        lastName: "",
        email: "",
        password: ""
      },
      isRegister: false
    };
  },
  methods: {
    onEnter() {
      this.$axios
        .post("/api/student", {
          firstName: this.firstName,
          lastName: this.lastName,
          accessCode: this.accessCode,
          email: this.email
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });

          this.$store.dispatch("data/setActivity", response.data.activity);

          this.$router.push("/student");
        })
        .catch(error => {
          switch (error.response.status) {
            case 400: {
              error.response.data.errors.forEach(element => {
                this.$q.notify({
                  color: "negative",
                  message: element
                });
              });
              break;
            }
            default: {
              this.$q.notify({
                color: "negative",
                message: error.response.data.message
              });
            }
          }
        });
    },

    onLogin() {
      this.$axios
        .post("/api/login", {
          email: this.login.email,
          password: this.login.password
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });

          this.$router.push("/professor");
        })
        .catch(error => {
          this.$q.notify({
            color: "negative",
            message: error.response.data.message
          });
        });
    },
    onRegister() {
      this.$axios
        .post("/api/professors", {
          email: this.register.email,
          password: this.register.password,
          firstName: this.register.firstName,
          lastName: this.register.lastName
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });

          this.isRegister = false;
        })
        .catch(error => {
          switch (error.response.status) {
            case 400: {
              error.response.data.errors.forEach(element => {
                this.$q.notify({
                  color: "negative",
                  message: element
                });
              });
              break;
            }
            default: {
              this.$q.notify({
                color: "negative",
                message: error.response.data.message
              });
            }
          }
        });
    }
  }
};
</script>
