<template>
  <q-page class="flex flex-center">
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>Continous Feedback </q-toolbar-title>

        <q-btn
          color="white"
          text-color="black"
          label="Log out"
          @click="onLogout"
        />
      </q-toolbar>
    </q-header>
    <div>
      <q-card>
        <q-card-section>
          <div class="text-h6">Add a new activity</div> </q-card-section
        ><q-card-section>
          <q-input v-model="activity.description" label="Description">
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>

          <q-input v-model="activity.duration" label="Duration ">
            <template v-slot:prepend>
              <q-icon name="event" />
            </template>
          </q-input>
        </q-card-section>
        <q-card-actions align="around" class="q-gutter-sm">
          <q-btn @click="add">Add</q-btn>
        </q-card-actions>
      </q-card>
    </div>
  </q-page>
</template>

<style></style>

<script>
export default {
  name: "LoginPage",
  data() {
    return {
      activity: {
        duration: 0,
        description: ""
      }
    };
  },

  methods: {
    onLogout() {
      this.$axios
        .get("/api/logout")
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });
          this.$router.push("/");
        })
        .catch(error => {
          this.$q.notify({
            color: "negative",
            message: error.response.data.message
          });
        });
    },

    add() {
      this.$axios
        .post("/api/activities", this.activity)
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: "Data loaded"
          });
        })
        .catch(error => {
          this.$q.notify({
            color: "negative",
            message: error.response.data.message
          });
        });
    }
  }
};
</script>
