<template>
  <q-page padding>
    <q-header elevated>
      <q-toolbar>
        <q-toolbar-title>Continous Feedback </q-toolbar-title>

        <q-btn
          color="white"
          text-color="black"
          label="Log out"
          @click="onLogout"
        />
      </q-toolbar>
    </q-header>
    <!-- content -->
    <q-btn-group spread>
      <q-btn color="green" icon="favorite" @click="onEmoticon(1)" />
      <q-btn color="yellow" icon="face" @click="onEmoticon(2)" />
    </q-btn-group>
    <q-btn-group spread>
      <q-btn color="orange" icon="warning" @click="onEmoticon(3)" />
      <q-btn color="red" icon="error" @click="onEmoticon(4)" />
    </q-btn-group>
  </q-page>
</template>
<style scoped></style>
<script>
export default {
  name: "StudentPage",
  data() {
    return {};
  },
  methods: {
    onEmoticon(number) {
      this.$axios
        .post("/api/feedback", {
          emoticon: number,
          activityId: this.activity.id
        })
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });
        })
        .catch(() => {
          this.$q.notify({
            color: "negative",
            message: "Error"
          });
        });
    },
    onLogout() {
      this.$axios
        .get("/api/logout")
        .then(response => {
          this.$q.notify({
            color: "teal",
            message: response.data.message
          });
          this.$router.push("/");
        })
        .catch(() => {
          this.$q.notify({
            color: "negative",
            message: "Error"
          });
        });
    }
  },

  computed: {
    activity() {
      return this.$store.getters["data/getActivity"];
    }
  }
};
</script>
